@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "react-toastify/dist/ReactToastify.css";
@import "../../public/assets/css/normalize.css";
@import "../../public/assets/css/all.min.css";
@import "../../public/assets/css/style.css";
@import "../../public/assets/css/responsive.css";
@import "./services.css";
