.Destinations-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.Destinations-section .text {
  width: 100%;
  max-width: 1400px;
  text-align: center;
  margin-bottom: 10px;
}

.Destinations-section .text span {
  color: var(--greenColor);
  font-weight: bold;
}

.destinations-swiper {
  width: 100%;
  max-width: 1400px;
  height: 400px;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.destinations-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount-price {
  color: #ffd700;
  font-weight: bold;
}

.original-price {
  color: white;
  text-decoration: line-through;
  margin-left: 5px;
}

.to {
  color: white;
}
