:root {
  --headerFont: "Montserrat Alternates", sans-serif;
  --linkFont: "Karla", sans-serif;
  --linkColor: rgb(119, 119, 119);
  --backgroundColor: #276968;
  --bs-primary: #276968;
  --bs-dark: #051721;
  --bs-secondary: #e9f0f0e5;
  --bs-primary-rgb: 39, 105, 104;
  --bs-secondary-rgb: 233, 240, 240;
  --bs-dark-rgb: 5, 23, 33;
  --greenColor: #276968;
  --greenColorDarker: #184140;
  --textColor: #555;
  --lightGray: #f5f5f5;
}

.flight-head h6 {
  color: var(--bs-primary);
}
.flight-head h2 {
  font-family: var(--headerFont);
  font-weight: 700;
}

.flight-image-container{
  color:white;
  position: relative;
}
.flight-image-container img{
  border-radius: 30px;
  display: block;
  width: 100%;
}

.flight-pricing{
  position: absolute;
  bottom:20%;
  left:10%;
  
}
.flight-book button{
  position: absolute;
  bottom:10%;
  width:80%;
  background-color: white;
}
.destinations {
  flex: 1 0 auto;
  position: relative;
}
.flight-hero {
  background: url(../images/flight-hero-2-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex; /* enables flexbox */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
  text-align: center; /* center text inside */
}
.search-section {
  display: flex;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}
.search-section a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  color: #555;
  text-decoration: none;
  position: relative;
  flex: 1;
  font-size: 16px;
}

.search-section a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 1px;
  background-color: #ddd;
}

.search-section a i {
  font-size: 20px;
  color: #3a9949;
}

.search-section button {
  background-color: var(--greenColor);
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.search-section button:hover {
  background-color: #2e7a3a;
}
