:root {
  --headerFont: "Montserrat Alternates", sans-serif;
  --linkFont: "Karla", sans-serif;
  --linkColor: rgb(119, 119, 119);
  --backgroundColor: #276968;
  --bs-primary: #276968;
  --bs-dark: #051721;
  --bs-secondary: #e9f0f0e5;
  --bs-primary-rgb: 39, 105, 104;
  --bs-secondary-rgb: 233, 240, 240;
  --bs-dark-rgb: 5, 23, 33;
  --greenColor: #276968;
  --greenColorDarker: #184140;
  --textColor: #555;
  --lightGray: #f5f5f5;
}
