:root {
    --headerFont: "Montserrat Alternates", sans-serif;
    --linkFont: "Karla", sans-serif;
    --linkColor: rgb(119, 119, 119);
    --backgroundColor: #276968;
    --bs-primary: #276968;
    --bs-dark: #051721;
    --bs-secondary: #E9F0F0E5;
    --bs-primary-rgb: 39, 105, 104;
    --bs-secondary-rgb: 233, 240, 240;
    --bs-dark-rgb: 5, 23, 33;
  }