@media (max-width: 576px) {
  .main {
    padding: 1rem !important;
  }

  .navbar-brand img {
    max-width: 120px;
    height: auto;
  }

  .info-part p {
    font-size: 0.9rem;
  }

  .login-sign-up {
    flex-direction: column;
  }
  .home-login {
    margin-bottom: 10px;
  }
  .home-sign-up {
    display: block;
    width: 100%;
    text-align: center;
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heading {
    margin-top: 30px;
  }
  .login-social-links-heading::before {
    width: 28%;
  #login-page .login-social-links-heading::before{
    width:28%;
  }
  .login-social-links-heading::after {
    width: 28%;
  #login-page .login-social-links-heading::after{
    width:28%;
  }
  .search-section{
    padding:4%;
    
  }
  .search-section a{
    padding:3% 4%;
    font-size:0.9rem;
  }
  .search-section button{
    font-size:0.8rem;
    padding:3%;
  }
  .flight-image{
    max-height: 20vh;
  }
  
}
@media (max-width: 768px) {
  .login-sign-up {
    flex-direction: column;
  }
  .login {
    margin-bottom: 10px;
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heading {
    margin-top: 30px;
  }
  .forget-and-remember {
    flex-direction: column;
  }
  .login-remember-me {
    margin-bottom: 15px;
  }
  .login-social-links-heading::before {
    width: 30%;
  }
  .login-social-links-heading::after {
    width: 30%;
  }
  
}
@media (max-width: 992px) {
  .login-sign-up {
    flex-direction: column;
  }
  .login {
    margin-bottom: 10px;
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .heading {
    margin-top: 30px;
  }
  .login-logo {
    width: 60%;
  }
  .forget-and-remember {
    flex-direction: column;
  }
  .login-remember-me {
    margin-bottom: 10px;
  }
  .login-social-links-heading::before {
    width: 23%;
  }
  .login-social-links-heading::after{
    width:23%;
  }
  .hero-heading{
    font-size:1.8rem;
  }
}
@media (max-width:1200px){
  .first-column{
    display:flex;
    align-items:center;
  }
  .login-social-links-heading::before{
    width:23%;
  }
  .login-social-links-heading::after{
    width:23%;
  }
  .hero-heading{
    font-size:1.8rem;
  }
}

/* Start Landing Page */

/* Small  768px  to 991px*/
@media (min-width: 768px) {
  /* Strat Hero section  */
  .hero_section {
    height: 60vh;
    min-height: 500px;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .login-social-links-heading::before {
    width: 23%;
  }
  .login-social-links-heading::after {
    width: 23%;
  }
}
