@media (max-width:576px){
    .wrap{
        display: flex;
        align-items: center;
        padding-bottom:30px;
        gap:40px;
    }
    .wrap .logo img{
        width:100%;
    }
    .links{
        text-align: center;
        padding:10px;
        font-size:1rem;
    }
    .links h3{
        font-size: 1.5rem;
    }
    .social-links a i{
        font-size:1.2rem;
        padding:10px 0 0;
    }
    
}
@media (min-width:768px){
    .wrap{
        text-align: center;
    }
    .social-links{
        justify-content: center;
    }
    .wrap .logo img{
        width:30%;
    }
    .social-links a i{
        font-size:1.4rem;
        padding:10px 0 0;
    }
    
}
@media (min-width: 992px){
    .wrap .logo img{
        width:70%;
    }
    .first{
        margin-left:25%;
    }
}
 @media (min-width: 1200px){
    .first{
        margin-left:20%;
    }
    .wrap .logo img{
        width:60%;
    }
 }