
:root{
    --headerFont:"Montserrat Alternates", sans-serif;
    --linkFont: "Karla", sans-serif;
    --linkColor:rgb(203, 201, 201);
}
footer{
    background-color: #276968;
    color:white;
}
body{
    padding:0;
    margin:0;
}
p{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    padding:0;
    margin:0;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
.social-links{
    gap:10px;
}
.social-links a i{
    color:white;
}
.link h3{
    font-family: var(--headerFont);
    font-weight: 600;
    
}
.link-list li a{
    font-family: var(--linkFont);
    color:var(--linkColor);
}
.contact{
    color:var(--linkColor);
}
