:root {
  --headerFont: "Montserrat Alternates", sans-serif;
  --linkFont: "Karla", sans-serif;
  --linkColor: rgb(119, 119, 119);
  --backgroundColor: #276968;
}
body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer{
  background-color: var(--backgroundColor);
  color:white;
}
.login{
  color:var(--linkColor);
}
.sign-up{
  color:white;
  background-color: #276968;
  border-radius:5px;
}
.navbar-brand{
  max-width: 150px;
}
.nav-logo{
  width:100%;
}
.footer-img{
  max-width:200px;
}
.footer-logo{
  display: block;
}
.social-links i{
  color:white;
  font-size:1.3rem;
  margin-right:10px;
}
.footer-links li a{
    color:rgb(212, 211, 211);
}
.footer-links li{
  color:rgb(212, 211, 211);
}