:root {
  --headerFont: "Montserrat Alternates", sans-serif;
  --linkFont: "Karla", sans-serif;
  --linkColor: rgb(119, 119, 119);
  --backgroundColor: #276968;
  --bs-primary: #276968;
  --bs-dark: #051721;
  --bs-secondary: #E9F0F0E5;
  --bs-primary-rgb: 39, 105, 104;
  --bs-secondary-rgb: 233, 240, 240;
  --bs-dark-rgb: 5, 23, 33;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  background-image: url("../images/contact-us-background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer{
  background-color: var(--backgroundColor);
  color:white;
}

.navbar-brand{
  max-width: 150px;
}
.nav-logo{
  width:100%;
}
.footer-img{
  max-width:200px;
}
.footer-logo{
  display: block;
}
.social-links i{
  color:white;
  font-size:1.3rem;
  margin-right:10px;
}
.footer-links li a{
    color:rgb(212, 211, 211);
}
.footer-links li{
  color:rgb(212, 211, 211);
}

<<<<<<< HEAD
.active{
  color:var(--bs-primary) !important;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}


.icon-wrapper {
  width: 40px;     
  height: 40px;     
}
=======
.login-page {
  background: url("../images/signin-back.png") no-repeat center center / cover;
  height: 100vh;
}
.home-link{
    max-width: 100px;
}
.login-logo{
    width:50%;
}
.login-wrap{
  background-color: white;
  border-radius: 20px;;
}
.login-desc{
  color:var(--linkColor);
}
.login-email-input{
  border:1px solid rgb(179, 177, 177);
  border-radius:5px;
}
.login-input-heading{
  position: absolute;
  top:-13px;
  left:3%;
   background: #fff; /* same as form background */
  padding: 0 5px;   /* little spacing so border is hidden */
}
.show-password-button{
  position: absolute;
  top:30%;
  right:3%;
  cursor:pointer;
}
.remember-me{
  width:20px;
  height:25px;
}
.login-remember-me{
  gap:10px;
}
.login-forgot-pass a{
  color:red;
}
.login-button{
  border:none;
  background-color: var(--backgroundColor);
  color:white;
  border-radius:10px;
}
.sign-up-link{
  text-align: center;
}
.sign-up-link a{
  color:red;
}
.login-social-links-heading p{
  color:grey;
}
.login-social-links-heading::before{
  content: '';
  position: absolute;
  background-color:rgb(192, 192, 192);
  height:2px;
  top:50%;
  left:0;
  width:37%;
}
.login-social-links-heading::after{
  content: '';
  position: absolute;
  background-color:rgb(192, 192, 192);
  height:2px;
  top:50%;
  right:0;
  width:37%;
}
.login-social-links-buttons button{
  background-color: white;
  border:1px solid var(--backgroundColor);
  transition: all 0.6s ease;
}
.login-social-links-buttons .facebook i{
  color:blue;
}
.google-gradient {
  background: linear-gradient(45deg, #4285F4, #EA4335, #FBBC05, #34A853);
  -webkit-text-fill-color: transparent;
}
.login-social-links-buttons button:hover{
  background-color: var(--backgroundColor);
}
.sign-up-input-heading{
  position: absolute;
  top:-13px;
  right:37%;
  background: #fff; /* same as form background */
  padding: 0 5px;   /* little spacing so border is hidden */
}
.terms-privacy{
  color:orange;
}
>>>>>>> 7926f946937d386bcb31bb4b466104994f97d016
