@import "tailwindcss";

@theme {
    /* Font families */
    --font-header: "Montserrat Alternates", sans-serif;
    --font-link: "Karla", sans-serif;
  
    /* Colors */
    --color-link: rgb(119, 119, 119);
    --color-bg: #276968;
    --color-primary: #276968;
    --color-dark: #051721;
    --color-secondary: #e9f0f0e5;
    --color-green: #276968;
    --color-green-darker: #184140;
    --color-text: #555;
    --color-light-gray: #f5f5f5;
  }
  